body {
  background-image: url(./Images/ice.jpg);
  background-size: 100%;
  color: gold;
  font-family: "Tinos", serif;
}

.navbar-custom {
  background-color: gold;
  color: black;
}

.navbar-brand {
  color: black;
}

.nav-link {
  color: black;
  text-align: right;
}

/* Hamburger */
.navbar-custom .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

main div h1 {
  margin-left: 15px;
}

.img-thumbnail {
  background-color: black;
  border-color: black;
}

footer {
  border-style: solid black 5px;
  background-color: gold;
  margin: 10px 0px 10px 0px;
  padding: 0px 10px 0px 10px;
}

footer div span a .fa-linkedin-square {
  background-color: white;
  color: #0e76a8;
}
