.container {
  margin-top: 50px;
}

main div p {
  margin-left: 5px;
}

#about-border {
}

#top-border {
  border-radius: 10px 10px 0px 0px;
  border-bottom: gold;
  border-style: solid;
}

#bottom-border {
  border-radius: 0px 0px 10px 10px;
}

.about-background {
  background-color: black;
}
